.gamePlay {
    width: 44px;
    border: 1px solid #ebebed;
    cursor: pointer;
}

.gamePlay:hover {
    background-color: #cfd8dc;
    border-color: #7b8d93;
    box-shadow: 0px 0px 0px 1px #7b8d93;
    z-index: 100;
}
